.google-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.google {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 150%;
  font-weight: 600;
}
.buttonsocialgoogle {
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  border: 1px solid var(--greyscale-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--body-large-bold-size);
  color: var(--greyscale-900);
  font-family: var(--body-small-regular);
  align-self: stretch;
}
