.lock-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.password {
  position: relative;
  line-height: 160%;
}
.lock-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.eye-off-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.typepassword-statedefault {
  border-radius: var(--br-xs);
  border: 1px solid var(--greyscale-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-base);
  text-align: left;
  font-size: var(--body-large-bold-size);
  color: var(--greyscale-400);
  font-family: var(--body-small-regular);
  align-self: stretch;
  flex: 1;
}
